@import "tailwindcss";
@plugin "daisyui";


.inter-n {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.icon-circle {
  width: 20px;               
  height: 20px;             
  background-color: white;   
  border-radius: 50%;        
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 13px;               
  height: 13px;             
  color: black;           
}